<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVFAp2L43UtQ86QpIMOWDEWE7_ienNSik</string>
	<key>GCM_SENDER_ID</key>
	<string>643368701713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tpfFirebase</string>
	<key>PROJECT_ID</key>
	<string>tpf-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>tpf-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643368701713:ios:2f8b823c246f7f9c6cc6b0</string>
</dict>
</plist>